<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<!--    <link rel='stylesheet' href='/stylesheets/formStyle.css' />-->
  </head>
  <body>
    <nav class="navBar">
      <div class="title">
        <h1><%= title %></h1>
      </div>
      <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/contact">Contact us</a></li>

      </ul>
      <div class="signUp">
        <span>Cart Place holder icon</span>
        <a href="/signup">Sign Up</a>
      </div>
    </nav>

    <div class="contentContainer">
      <form action="/addCategory" method="POST">
        <div class="formGroup">
          <label for="categoryName">Category Name:</label>
          <input type="text" id="categoryName" name="categoryName" required>
        </div>
        <div class="formGroup">
          <label for="categoryDescription">Category Description:</label>
          <textarea id="categoryDescription" name="categoryDescription" required></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

  </body>
</html>


