<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
    <div class="title">
      <h1><%= title %></h1>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/new">New User</a></li>
    </ul>



  </nav>
  </body>
</html>
